= haml :_search_box

.center.mw8
  .flex.flex-wrap.items-center.justify-center
    - locals[:results].each do |movie|
      .w-20.ma2.tc
        %a{href: "/movie/#{movie[:id]}", class: 'link'}
          %img(src="https://image.tmdb.org/t/p/w185#{movie[:poster_path]}")
          %div.blue.b.link
            = movie[:title]
            (#{ movie[:release_date].slice(0..3) })
