= haml :_search_box

- locals[:results].each do |movie|
  .movie
    = movie[:title]
    = movie[:id]
    %img(src="https://image.tmdb.org/t/p/w184#{movie[:poster_path]}")
    %a{href: "/movie/#{movie[:id]}"} View
